venv/
.venv/
env/
__pycache__/
*.py[cod]
*.egg-info/
*.sqlite3
db.sqlite3
.env
.DS_Store
staticfiles/
*.log
logs/*
!logs/.gitkeep
celerybeat-schedule
celerybeat-schedule.*
.idea/
.vscode/
apps/ai_caller/data/

**/migrations/*.py
!**/migrations/__init__.py