Django==4.2.30
python-dotenv==1.0.1
psycopg2-binary==2.9.10
requests==2.32.3
boto3==1.35.99
openpyxl==3.1.5
djangorestframework==3.15.2
django-cors-headers==4.4.0
sendgrid==6.11.0
celery==5.3.6
redis==5.0.8
backports.zoneinfo==0.2.1; python_version < "3.9"
twilio==8.13.0
